.contact{
background:#111;
color:white;
padding:60px 15%;
text-align:center;
}

.contact h2{
margin-bottom:40px;
}

.contact-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}

.contact-item{
background:#1f1f1f;
padding:25px;
border-radius:8px;
}

.contact-item h3{
color:#f39c12;
margin-bottom:10px;
}
